.card {
  /* max-height: 450px;   */
  box-shadow: 0 8px 10px 0px gray;
  border: 10px solid #DB4437;
  padding: 1rem;
}

.card-col {
  padding: 1rem;
}

.card-text {
    max-height: 200px;
    overflow: scroll;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 576px) {
  .card-img  {
    width: 50%;
  }
}

